doctype html
html
  head
    title Book List
  body
    h1 Edit Book

    form(action=`/books/${book.isbn}/update`, method="POST")
        div
            label(for="isbn") ISBN:
            input(type="text", name="isbn", id="isbn", value=book.isbn required)
        div
            label(for="title") Title:
            input(type="text", name="title", id="title", value=book.title required)
        div
            label(for="subtitle") Subtitle:
            input(type="text", name="subtitle", id="subtitle", value=book.subtitle)
        div
            label(for="author") Author:
            input(type="text", name="author", id="author", value=book.author required)
        div
            label(for="published") Published:
            input(type="date", name="published", id="published", value=book.published)
        div
            label(for="publisher") Publisher:
            input(type="text", name="publisher", id="publisher", value=book.publisher)
        div
            label(for="pages") Pages:
            input(type="number", name="pages", id="pages", value=book.pages)
        div
            label(for="description") Description:
            textarea(name="description", id="description")= book.description
        div
            label(for="website") Website:
            input(type="url", name="website", id="website", value=book.website)
        div
            button(type="submit") Update Book
